header {
    background-color: #333;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.card {
    height: 12rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}