#bank {
    background-color: #edef4c;
}

#work {
    background-color: #4d70f0;
}

.pay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#repay {
    display: none;
}